<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="login">
        <div>
        <label>Enter your email</label>
        <input id="loginEmail" type="email">
    </div>
    <div>
        <label>Enter your password</label>
        <input id="loginPassword" type="password">
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
       
    </form>
    <div>Dont have account? <a href="/signup">SignUp</a></div>
</body>
</html>