<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/js/scope.js" defer></script>
    <link rel="stylesheet" href="/style/Scope.css">
</head>
<body>
    <!-- <input id="clientId" value="1000.79F036M9ZLSBZNO7WRD9DHGIADVPXH">
    <input id="clientSecret" value="97937691c11c59eab4e7d00e2062332a7fd1cf3f26"> -->
    <p>Scope</p>
    <input id="scope" value="ZohoCliq.Webhooks.CREATE,ZohoCliq.Messages.READ">
    <p>Project</p>
    <input id="projectName" value="todo">
    <button onclick="showScopes()">Genrate Tokens</button>
    <div id="scopeList" class="hide">
        <!-- <button id="genrateTokens">Genrate Tokens</button> -->
    </div>
<body>
</body>
</html>