.side_bar {
    position: fixed;
   
}

.log-page {
    margin-left: 270px; 
    padding: 4rem 3rem;
    width: 100%;
    padding-top: 80px; 
}

.log-page h2 {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 10px;
}

.log-page p {
    font-size: 16px;
    color: #bbb;
    margin-bottom: 20px;
}

.log-header {
    display: flex;
    width: 100%;
   margin-top: 3.4rem;
    font-weight: bold;
    color: #fff;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 8px;
    z-index: 1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.log-heading {
    width: 35%;  
    text-align: center;
    padding: 10px;
}

.log-entries {
    margin-top: 30px;  
}

.log-entry {
    display: flex;
    background-color:var(--container-color);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
}

.log-detail {
    font-size: 16px;
    color: #ddd;
    margin-bottom: 10px;
    width: 25%; 
    text-align: center;
}
