*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background: linear-gradient(#9796f0,#fbc7d4);
    background-repeat: no-repeat; 
}

#parent{
    width: 100%;
    height:100vh;
    display:flex;
    flex-wrap: wrap;
    gap:20px 0px;
    justify-content: space-around;
    align-items: center;
}

#child{
    width:40%;
    background-color: whitesmoke;
    padding:2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

#city{
    display: block;
    padding: 1% 5%;
}

#click{
    padding:1%;
    cursor: pointer;
}

.output{
    width:100%;
    display: flex;
    justify-content: space-between;
    padding: 3%;
}

.result{
    background-color:aliceblue;
    padding: 3%;
    text-align: center;

}

label{
    font-size: 2.5rem;
}

#temp,#humidity,input,#windspeed{
    font-size: x-large;
}