/*default css*/
* { margin: 0; padding: 0; }
body { overflow: hidden; width: 100vw; height: 100vh}
div { width: fit-content; height: fit-content; box-sizing: border-box; overflow: hidden; white-space: nowrap; position : relative; scrollbar-width: none;}
.vertical_container { display: flex; flex-direction: column; flex-shrink : 0; align-items: var(--horizontal_align); justify-content: var(--vertical_align); }
.horizontal_container { display: flex; flex-direction: row; flex-shrink : 0; align-items: var(--vertical_align); justify-content: var(--horizontal_align); }
video { width: inherit; pointer-events: none; object-fit: cover; }
img { width: 100%; height: 100%; object-fit: cover; border: 0; outline: none; visibility: hidden; display: block; user-select: none;}
img.loaded {visibility: visible; }
p { white-space: inherit; overflow: inherit; text-overflow: inherit;}
pre { overflow: inherit; text-overflow: inherit; font-family:  inherit; }
.text_field { width: 100%; height: 100%; }
.text_area { width: 100%; height: 100%; border: none !important; outline: none !important;}
.textarea:focus-visible {border: none !important;outline: none !important;}
.video__container { all: inherit; }
.video__cont_container { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.image__container { all: inherit;position: relative;display: inline-block;}
.image__cont_container { position: absolute; top: 0; left: 0; width: 100%;}
input { font: inherit; background-color: inherit; outline: none; box-shadow: none; border: none; color: inherit;}
textarea {font: inherit; resize: none; background-color: inherit; color: inherit;}
.code-block{ max-height: 600px; overflow: auto; margin: 0;padding: 0; display: block; padding: .5em; color: rgba(56, 58, 66, 1); background: rgba(250, 250, 250, 1); scrollbar-width: auto;}
.rt-code_block-table{ border-collapse: collapse;}
tr{display: table-row;vertical-align: inherit;unicode-bidi: isolate;border-color: inherit;}
.hljs-ln td {padding: 0;}
.hljs-ln-numbers {padding-right: 5px !important;width: 35px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;text-align: center;color: #ccc;border-right: 1px solid #ccc;vertical-align: top;}
.hljs-ln-code {padding-left: 10px !important;}
.layout, .column, .row { --horizontal_align: start; --vertical_align: start;}
.widget_container {width: 100%; height: 100%; display: flex; flex-direction: inherit; justify-content: inherit; align-items: inherit; overflow-x: inherit; overflow-y: inherit; flex-wrap: inherit}
.dynamic {width: 100%; height: 100%; display: flex; flex-direction: inherit; justify-content: inherit; align-items: inherit; overflow-x: inherit; overflow-y: inherit; flex-wrap: inherit}
.rich_text_editor {width: 100%; height: 100%; white-space : normal; flex-direction: column; }
.rich_text_editor .ql-toolbar { overflow : visible; white-space : inherit; }
.rich_text_editor .ql-container { width : 100% }
.rich_text_editor .ql-editor { width : 100% }
.loaded_ .skeleton { display: none; }
.ui_loaded_ .preload { display: none; }
/*--------------*/
/*Pre defined keyframes*/
@keyframes rightSlideIn {
    from { transform: translateX(100%); }
    to { transform: translateX(0); }
}
@keyframes leftSlideIn {
    from { transform: translateX(0); }
    to { transform: translateX(100%); }
}
/*--------------*/
body > .layout.school{width : 100%;
height : 100%;
font-family: "puvi";






--vertical_align: center; --horizontal_align: center;}

.layout > .school > .layout:nth-child(1){display: none;
width : 100%;
height : 100%;
background-color: var(--blur);




 font-size: 24px;    
--vertical_align: center; --horizontal_align: center;}

.layout > .school > .layout:nth-child(1) > .add_class > .row:nth-child(1){background-color: var(--white);




border-radius: 20px;
padding-top: 16px; padding-right: 32px; padding-bottom: 16px; padding-left: 32px;  
margin-top: 60px;     
--vertical_align: center; --horizontal_align: center;}

.layout > .school > .layout:nth-child(1) > .add_class > .row:nth-child(1) > .row:nth-child(1){height: 40px;
--horizontal_align: center;}



.layout > .school > .layout:nth-child(1) > .add_class > .row:nth-child(1) > .row:nth-child(2){height: 60px;
width: 100%;}



.layout > .school > .layout:nth-child(1) > .add_class > .row:nth-child(1) > .row:nth-child(3){height: 60px;}

.layout > .school > .layout:nth-child(1) > .add_class > .row:nth-child(1) > .row:nth-child(3) > .column:nth-child(1){flex-grow: 1; flex-shrink: revert;
padding-top: 5px;  padding-bottom: 5px; padding-left: 10px;  
border-width: 2px; border-style: solid; border-color: var(--bg_black); 
border-radius: 10px;}




.layout > .school > .layout:nth-child(1) > .add_class > .row:nth-child(1) > .row:nth-child(4){height: 60px;
width: 100%;}



.layout > .school > .layout:nth-child(1) > .add_class > .row:nth-child(1) > .row:nth-child(5){height: 60px;}

.layout > .school > .layout:nth-child(1) > .add_class > .row:nth-child(1) > .row:nth-child(5) > .column:nth-child(1){flex-grow: 1; flex-shrink: revert;
padding-top: 5px;  padding-bottom: 5px; padding-left: 10px;  
border-width: 2px; border-style: solid; border-color: var(--bg_black); 
border-radius: 10px;}




.layout > .school > .layout:nth-child(1) > .add_class > .row:nth-child(1) > .row:nth-child(6){width: 100%;
height: 50px;
 --horizontal_align: space-around;
 font-size: 20px;  color: var(--white);  }

.layout > .school > .layout:nth-child(1) > .add_class > .row:nth-child(1) > .row:nth-child(6) > .column:nth-child(1){border-radius: 10px;
cursor: pointer;
padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;  
background-color: var(--light);




 margin-right: 50px;    }

.layout > .school > .layout:nth-child(1) > .add_class > .row:nth-child(1) > .row:nth-child(6) > .column:nth-child(1) > .submit > .row:nth-child(1){--vertical_align: center; --horizontal_align: center;}




.layout > .school > .layout:nth-child(1) > .add_class > .row:nth-child(1) > .row:nth-child(6) > .column:nth-child(2){border-radius: 10px;
cursor: pointer;
background-color: var(--light);




padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;  }

.layout > .school > .layout:nth-child(1) > .add_class > .row:nth-child(1) > .row:nth-child(6) > .column:nth-child(2) > .cancel > .row:nth-child(1){--vertical_align: center; --horizontal_align: center;}







.layout > .school > .layout:nth-child(2){width : 100%;
height : 100%;
background-color: var(--blur);




--vertical_align: center; --horizontal_align: center;}

.layout > .school > .layout:nth-child(2) > .add_student > .row:nth-child(1){background-color: var(--white);




font-size: 24px;
border-radius: 20px;
padding-top: 40px; padding-right: 60px; padding-bottom: 16px; padding-left: 60px;  
--vertical_align: center; --horizontal_align: center;
margin-top: 20px;  margin-bottom: 2;   }

.layout > .school > .layout:nth-child(2) > .add_student > .row:nth-child(1) > .row:nth-child(1){width: 100%;
 --horizontal_align: center;}



.layout > .school > .layout:nth-child(2) > .add_student > .row:nth-child(1) > .row:nth-child(2){width: 100%;
height: 50px;}



.layout > .school > .layout:nth-child(2) > .add_student > .row:nth-child(1) > .row:nth-child(3){width: 100%;
height: 50px;
 --horizontal_align: space-around;}

.layout > .school > .layout:nth-child(2) > .add_student > .row:nth-child(1) > .row:nth-child(3) > .column:nth-child(1){width: 100%;
height: 50px;
   padding-left: 10px;  
border-width: 2px; border-style: solid;  
border-color: var(--dark_gray);




border-radius: 10px;}




.layout > .school > .layout:nth-child(2) > .add_student > .row:nth-child(1) > .row:nth-child(4){width: 100%;
height: 50px;
margin-top: 28px;     }



.layout > .school > .layout:nth-child(2) > .add_student > .row:nth-child(1) > .row:nth-child(5){width: 100%;
height: 50px;}

.layout > .school > .layout:nth-child(2) > .add_student > .row:nth-child(1) > .row:nth-child(5) > .column:nth-child(1){width: 100%;
height: 50px;
   padding-left: 10px;  
border-width: 2px; border-style: solid;  
border-color: var(--dark_gray);




border-radius: 10px;}




.layout > .school > .layout:nth-child(2) > .add_student > .row:nth-child(1) > .row:nth-child(6){width: 100%;
height: 50px;
margin-top: 28px;     }



.layout > .school > .layout:nth-child(2) > .add_student > .row:nth-child(1) > .row:nth-child(7){width: 100%;
height: 50px;
 --horizontal_align: space-around;}

.layout > .school > .layout:nth-child(2) > .add_student > .row:nth-child(1) > .row:nth-child(7) > .column:nth-child(1){width: 100%;
height: 50px;
   padding-left: 10px;  
border-width: 2px; border-style: solid;  
border-color: var(--dark_gray);




border-radius: 10px;}




.layout > .school > .layout:nth-child(2) > .add_student > .row:nth-child(1) > .row:nth-child(8){width: 100%;
height: 50px;
margin-top: 28px;     }



.layout > .school > .layout:nth-child(2) > .add_student > .row:nth-child(1) > .row:nth-child(9){width: 100%;
height: 50px;
 --horizontal_align: space-around;}

.layout > .school > .layout:nth-child(2) > .add_student > .row:nth-child(1) > .row:nth-child(9) > .column:nth-child(1){width: 100%;
height: 50px;
   padding-left: 10px;  
border-width: 2px; border-style: solid;  
border-color: var(--dark_gray);




border-radius: 10px;}




.layout > .school > .layout:nth-child(2) > .add_student > .row:nth-child(1) > .row:nth-child(10){width: 100%;
height: 100px;
 --horizontal_align: center;
margin-top: 28px;     }

.layout > .school > .layout:nth-child(2) > .add_student > .row:nth-child(1) > .row:nth-child(10) > .column:nth-child(1){width: 100px;
height: 40px;
border-radius: 10px;
cursor: pointer;
background-color: var(--light);




 margin-right: 50px;    
--vertical_align: center; --horizontal_align: center;}

.layout > .school > .layout:nth-child(2) > .add_student > .row:nth-child(1) > .row:nth-child(10) > .column:nth-child(1) > .submit > .row:nth-child(1){width: 100%;
height: 100%;
font-size: 16px;
--vertical_align: center; --horizontal_align: center;}




.layout > .school > .layout:nth-child(2) > .add_student > .row:nth-child(1) > .row:nth-child(10) > .column:nth-child(2){width: 100px;
height: 40px;
border-radius: 10px;
cursor: pointer;
background-color: var(--light);




--vertical_align: center; --horizontal_align: center;}

.layout > .school > .layout:nth-child(2) > .add_student > .row:nth-child(1) > .row:nth-child(10) > .column:nth-child(2) > .cancel > .row:nth-child(1){width: 100%;
height: 100%;
font-size: 16px;
--vertical_align: center; --horizontal_align: center;}







.layout > .school > .layout:nth-child(3){width : 100%;
height : 100%;}

.layout > .school > .layout:nth-child(3) > .main > .row:nth-child(1){width : 100%;
height: 10%;
--vertical_align: center; --horizontal_align: center;
background-color: var(--violet);




border-bottom-width: 5px; border-bottom-style: solid; border-bottom-color: var(--white);}

.layout > .school > .layout:nth-child(3) > .main > .row:nth-child(1) > .row:nth-child(1){background-color: var(--light);




padding-top: 15px; padding-right: 50px; padding-bottom: 15px; padding-left: 50px;  
--vertical_align: center; --horizontal_align: center;
border-radius: 10px;
font-size: 32px;}




.layout > .school > .layout:nth-child(3) > .main > .row:nth-child(2){width : 100%;
height: 90%;}

.layout > .school > .layout:nth-child(3) > .main > .row:nth-child(2) > .column:nth-child(1){width: 25%;
height : 100%;
background-color: var(--violet);




padding-top: 10px; padding-right: 10px; padding-bottom: 20px; padding-left: 10px;  
overflow-y: scroll;
font-size: 20px;}

.layout > .school > .layout:nth-child(3) > .main > .row:nth-child(2) > .column:nth-child(1) > .row:nth-child(1){font-size: 60px;
color: var(--white);



}



.layout > .school > .layout:nth-child(3) > .main > .row:nth-child(2) > .column:nth-child(1) > .row:nth-child(2){width : 100%;
height: 5%;
background-color: var(--white);




--vertical_align: center; --horizontal_align: space-between;
border-radius: 10px;
padding-top: 7px; padding-right: 10px; padding-bottom: 7px;   }

.layout > .school > .layout:nth-child(3) > .main > .row:nth-child(2) > .column:nth-child(1) > .row:nth-child(2) > .column:nth-child(1){width: 50%;
height: 100%;
--vertical_align: center; --horizontal_align: center;}



.layout > .school > .layout:nth-child(3) > .main > .row:nth-child(2) > .column:nth-child(1) > .row:nth-child(2) > .column:nth-child(2){cursor: pointer;
--vertical_align: center; --horizontal_align: center;}

.layout > .school > .layout:nth-child(3) > .main > .row:nth-child(2) > .column:nth-child(1) > .row:nth-child(2) > .column:nth-child(2) > .widget > .row:nth-child(1){width: 100%;}





.layout > .school > .layout:nth-child(3) > .main > .row:nth-child(2) > .column:nth-child(1) >  .dynamic > .row:nth-child(n){width : 100%;
padding-top: 5px; padding-right: 10px; padding-bottom: 5px; padding-left: 10px;  
border-radius: 10px;
margin-top: 20px;     
cursor: pointer;
--vertical_align: center; --horizontal_align: space-between;}

.layout > .school > .layout:nth-child(3) > .main > .row:nth-child(2) > .column:nth-child(1) >  .dynamic > .row:nth-child(n) > .container > .layout:nth-child(1){width : 100%;
--vertical_align: center; --horizontal_align: space-between;}





.layout > .school > .layout:nth-child(3) > .main > .row:nth-child(2) > .column:nth-child(1) >  .dynamic > .row:nth-child(n) > .container > .layout:nth-child(1) > .column:nth-child(2){width: 40%;
--vertical_align: center; --horizontal_align: space-around;}

.layout > .school > .layout:nth-child(3) > .main > .row:nth-child(2) > .column:nth-child(1) >  .dynamic > .row:nth-child(n) > .container > .layout:nth-child(1) > .column:nth-child(2) > .column:nth-child(1){padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px;  
border-radius: 10px;
font-size: 28px;
background-color: var(--violet);



}

.layout > .school > .layout:nth-child(3) > .main > .row:nth-child(2) > .column:nth-child(1) >  .dynamic > .row:nth-child(n) > .container > .layout:nth-child(1) > .column:nth-child(2) > .column:nth-child(1) > .edit > .column:nth-child(1){flex-grow: 1; flex-shrink: revert;}






.layout > .school > .layout:nth-child(3) > .main > .row:nth-child(2) > .column:nth-child(1) >  .dynamic > .row:nth-child(n) > .container > .layout:nth-child(2){width : 100%;
height : 100%;
background-color: var(--blur);




 font-size: 24px;    
--vertical_align: center; --horizontal_align: center;}

.layout > .school > .layout:nth-child(3) > .main > .row:nth-child(2) > .column:nth-child(1) >  .dynamic > .row:nth-child(n) > .container > .layout:nth-child(2) > .edit_class > .row:nth-child(1){background-color: var(--white);




border-radius: 20px;
padding-top: 16px; padding-right: 32px; padding-bottom: 16px; padding-left: 32px;  
margin-top: 60px;     
--vertical_align: center; --horizontal_align: center;}

.layout > .school > .layout:nth-child(3) > .main > .row:nth-child(2) > .column:nth-child(1) >  .dynamic > .row:nth-child(n) > .container > .layout:nth-child(2) > .edit_class > .row:nth-child(1) > .row:nth-child(1){height: 40px;
--horizontal_align: center;}



.layout > .school > .layout:nth-child(3) > .main > .row:nth-child(2) > .column:nth-child(1) >  .dynamic > .row:nth-child(n) > .container > .layout:nth-child(2) > .edit_class > .row:nth-child(1) > .row:nth-child(2){height: 60px;
width: 100%;}



.layout > .school > .layout:nth-child(3) > .main > .row:nth-child(2) > .column:nth-child(1) >  .dynamic > .row:nth-child(n) > .container > .layout:nth-child(2) > .edit_class > .row:nth-child(1) > .row:nth-child(3){height: 60px;}

.layout > .school > .layout:nth-child(3) > .main > .row:nth-child(2) > .column:nth-child(1) >  .dynamic > .row:nth-child(n) > .container > .layout:nth-child(2) > .edit_class > .row:nth-child(1) > .row:nth-child(3) > .column:nth-child(1){flex-grow: 1; flex-shrink: revert;
padding-top: 5px;  padding-bottom: 5px; padding-left: 10px;  
border-width: 2px; border-style: solid; border-color: var(--bg_black); 
border-radius: 10px;}




.layout > .school > .layout:nth-child(3) > .main > .row:nth-child(2) > .column:nth-child(1) >  .dynamic > .row:nth-child(n) > .container > .layout:nth-child(2) > .edit_class > .row:nth-child(1) > .row:nth-child(4){height: 60px;
width: 100%;}



.layout > .school > .layout:nth-child(3) > .main > .row:nth-child(2) > .column:nth-child(1) >  .dynamic > .row:nth-child(n) > .container > .layout:nth-child(2) > .edit_class > .row:nth-child(1) > .row:nth-child(5){height: 60px;}

.layout > .school > .layout:nth-child(3) > .main > .row:nth-child(2) > .column:nth-child(1) >  .dynamic > .row:nth-child(n) > .container > .layout:nth-child(2) > .edit_class > .row:nth-child(1) > .row:nth-child(5) > .column:nth-child(1){flex-grow: 1; flex-shrink: revert;
padding-top: 5px;  padding-bottom: 5px; padding-left: 10px;  
border-width: 2px; border-style: solid; border-color: var(--bg_black); 
border-radius: 10px;}




.layout > .school > .layout:nth-child(3) > .main > .row:nth-child(2) > .column:nth-child(1) >  .dynamic > .row:nth-child(n) > .container > .layout:nth-child(2) > .edit_class > .row:nth-child(1) > .row:nth-child(6){width: 100%;
height: 50px;
 --horizontal_align: space-around;
 font-size: 20px;  color: var(--white);  }

.layout > .school > .layout:nth-child(3) > .main > .row:nth-child(2) > .column:nth-child(1) >  .dynamic > .row:nth-child(n) > .container > .layout:nth-child(2) > .edit_class > .row:nth-child(1) > .row:nth-child(6) > .column:nth-child(1){border-radius: 10px;
cursor: pointer;
padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;  
background-color: var(--light);




 margin-right: 50px;    }

.layout > .school > .layout:nth-child(3) > .main > .row:nth-child(2) > .column:nth-child(1) >  .dynamic > .row:nth-child(n) > .container > .layout:nth-child(2) > .edit_class > .row:nth-child(1) > .row:nth-child(6) > .column:nth-child(1) > .submit > .row:nth-child(1){--vertical_align: center; --horizontal_align: center;}




.layout > .school > .layout:nth-child(3) > .main > .row:nth-child(2) > .column:nth-child(1) >  .dynamic > .row:nth-child(n) > .container > .layout:nth-child(2) > .edit_class > .row:nth-child(1) > .row:nth-child(6) > .column:nth-child(2){border-radius: 10px;
cursor: pointer;
background-color: var(--light);




padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;  }

.layout > .school > .layout:nth-child(3) > .main > .row:nth-child(2) > .column:nth-child(1) >  .dynamic > .row:nth-child(n) > .container > .layout:nth-child(2) > .edit_class > .row:nth-child(1) > .row:nth-child(6) > .column:nth-child(2) > .cancel > .row:nth-child(1){--vertical_align: center; --horizontal_align: center;}









.layout > .school > .layout:nth-child(3) > .main > .row:nth-child(2) > .column:nth-child(2){width: 75%;
height : 100%;
background-color: var(--light);




padding-top: 20px; padding-right: 20px; padding-bottom: 20px; padding-left: 20px;  
font-size: 20px;}

.layout > .school > .layout:nth-child(3) > .main > .row:nth-child(2) > .column:nth-child(2) > .column:nth-child(1){flex-grow: 1; flex-shrink: revert;
height : 100%;}

.layout > .school > .layout:nth-child(3) > .main > .row:nth-child(2) > .column:nth-child(2) > .column:nth-child(1) > .content > .row:nth-child(1){width: 100%;
--vertical_align: top; --horizontal_align: space-around;}

.layout > .school > .layout:nth-child(3) > .main > .row:nth-child(2) > .column:nth-child(2) > .column:nth-child(1) > .content > .row:nth-child(1) > .column:nth-child(1){width: 20%;
border-radius: 10px;
padding-top: 20px; padding-right: 10px; padding-bottom: 20px; padding-left: 10px;  
background-color: var(--white);




--vertical_align: center; --horizontal_align: center;}



.layout > .school > .layout:nth-child(3) > .main > .row:nth-child(2) > .column:nth-child(2) > .column:nth-child(1) > .content > .row:nth-child(1) > .column:nth-child(2){width: 40%;}

.layout > .school > .layout:nth-child(3) > .main > .row:nth-child(2) > .column:nth-child(2) > .column:nth-child(1) > .content > .row:nth-child(1) > .column:nth-child(2) >  .dynamic > .column:nth-child(n){flex-grow: 1; flex-shrink: revert;
border-radius: 10px;
padding-top: 20px; padding-right: 10px; padding-bottom: 20px; padding-left: 10px;  
background-color: var(--white);



}

.layout > .school > .layout:nth-child(3) > .main > .row:nth-child(2) > .column:nth-child(2) > .column:nth-child(1) > .content > .row:nth-child(1) > .column:nth-child(2) >  .dynamic > .column:nth-child(n) > .box > .row:nth-child(1){--vertical_align: center; --horizontal_align: center;
width : 100%;}






.layout > .school > .layout:nth-child(3) > .main > .row:nth-child(2) > .column:nth-child(2) > .column:nth-child(1) > .content > .row:nth-child(2){width : 100%;
height: 75%;
overflow-y: scroll;
margin-top: 50px;  margin-bottom: 50px;   
flex-wrap: wrap;
--vertical_align: space_evenly; --horizontal_align: space-around;}

.layout > .school > .layout:nth-child(3) > .main > .row:nth-child(2) > .column:nth-child(2) > .column:nth-child(1) > .content > .row:nth-child(2) >  .dynamic > .column:nth-child(n){width: 400px;
height: 300px;
cursor: pointer;
<unexpected-om_colon_expr>
box-shadow: 25px 20px 3px  ;
background-color: var(--white);




margin-top: 10px;     
border-radius: 10px;
--vertical_align: center; --horizontal_align: space-around;
padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 30px;  }

.layout > .school > .layout:nth-child(3) > .main > .row:nth-child(2) > .column:nth-child(2) > .column:nth-child(1) > .content > .row:nth-child(2) >  .dynamic > .column:nth-child(n) > .box > .layout:nth-child(1){width : 100%;
height : 100%;
--vertical_align: space-around; --horizontal_align: space-around;}

















.layout > .school > .layout:nth-child(3) > .main > .row:nth-child(2) > .column:nth-child(2) > .column:nth-child(1) > .content > .row:nth-child(2) >  .dynamic > .column:nth-child(n) > .box > .layout:nth-child(1) > .row:nth-child(5){width : 100%;
 --horizontal_align: space-around;}

.layout > .school > .layout:nth-child(3) > .main > .row:nth-child(2) > .column:nth-child(2) > .column:nth-child(1) > .content > .row:nth-child(2) >  .dynamic > .column:nth-child(n) > .box > .layout:nth-child(1) > .row:nth-child(5) > .column:nth-child(1){padding-top: 10px; padding-right: 15px; padding-bottom: 10px; padding-left: 15px;  
border-radius: 10px;}

.layout > .school > .layout:nth-child(3) > .main > .row:nth-child(2) > .column:nth-child(2) > .column:nth-child(1) > .content > .row:nth-child(2) >  .dynamic > .column:nth-child(n) > .box > .layout:nth-child(1) > .row:nth-child(5) > .column:nth-child(1) > .edit_student > .row:nth-child(1){width : 100%;}




.layout > .school > .layout:nth-child(3) > .main > .row:nth-child(2) > .column:nth-child(2) > .column:nth-child(1) > .content > .row:nth-child(2) >  .dynamic > .column:nth-child(n) > .box > .layout:nth-child(1) > .row:nth-child(5) > .column:nth-child(2){padding-top: 10px; padding-right: 15px; padding-bottom: 10px; padding-left: 15px;  
border-radius: 10px;
background-color: var(--login_blue);



}

.layout > .school > .layout:nth-child(3) > .main > .row:nth-child(2) > .column:nth-child(2) > .column:nth-child(1) > .content > .row:nth-child(2) >  .dynamic > .column:nth-child(n) > .box > .layout:nth-child(1) > .row:nth-child(5) > .column:nth-child(2) > .delete > .row:nth-child(1){width : 100%;}






.layout > .school > .layout:nth-child(3) > .main > .row:nth-child(2) > .column:nth-child(2) > .column:nth-child(1) > .content > .row:nth-child(2) >  .dynamic > .column:nth-child(n) > .box > .layout:nth-child(2){width : 100%;
height : 100%;
background-color: var(--bg_black);




--vertical_align: center; --horizontal_align: center;}

.layout > .school > .layout:nth-child(3) > .main > .row:nth-child(2) > .column:nth-child(2) > .column:nth-child(1) > .content > .row:nth-child(2) >  .dynamic > .column:nth-child(n) > .box > .layout:nth-child(2) > .edit_student > .row:nth-child(1){background-color: var(--white);




font-size: 24px;
border-radius: 20px;
padding-top: 40px; padding-right: 60px; padding-bottom: 16px; padding-left: 60px;  
--vertical_align: center; --horizontal_align: center;
margin-top: 20px;  margin-bottom: 20px;   }

.layout > .school > .layout:nth-child(3) > .main > .row:nth-child(2) > .column:nth-child(2) > .column:nth-child(1) > .content > .row:nth-child(2) >  .dynamic > .column:nth-child(n) > .box > .layout:nth-child(2) > .edit_student > .row:nth-child(1) > .row:nth-child(1){width: 100%;
 --horizontal_align: center;}



.layout > .school > .layout:nth-child(3) > .main > .row:nth-child(2) > .column:nth-child(2) > .column:nth-child(1) > .content > .row:nth-child(2) >  .dynamic > .column:nth-child(n) > .box > .layout:nth-child(2) > .edit_student > .row:nth-child(1) > .row:nth-child(2){width: 100%;
height: 50px;}



.layout > .school > .layout:nth-child(3) > .main > .row:nth-child(2) > .column:nth-child(2) > .column:nth-child(1) > .content > .row:nth-child(2) >  .dynamic > .column:nth-child(n) > .box > .layout:nth-child(2) > .edit_student > .row:nth-child(1) > .row:nth-child(3){width: 100%;
height: 50px;
 --horizontal_align: space-around;}

.layout > .school > .layout:nth-child(3) > .main > .row:nth-child(2) > .column:nth-child(2) > .column:nth-child(1) > .content > .row:nth-child(2) >  .dynamic > .column:nth-child(n) > .box > .layout:nth-child(2) > .edit_student > .row:nth-child(1) > .row:nth-child(3) > .column:nth-child(1){width: 100%;
height: 50px;
   padding-left: 10px;  
border-width: 2px; border-style: solid;  
border-color: var(--dark_gray);




border-radius: 10px;}




.layout > .school > .layout:nth-child(3) > .main > .row:nth-child(2) > .column:nth-child(2) > .column:nth-child(1) > .content > .row:nth-child(2) >  .dynamic > .column:nth-child(n) > .box > .layout:nth-child(2) > .edit_student > .row:nth-child(1) > .row:nth-child(4){width: 100%;
height: 50px;
margin-top: 28px;     }



.layout > .school > .layout:nth-child(3) > .main > .row:nth-child(2) > .column:nth-child(2) > .column:nth-child(1) > .content > .row:nth-child(2) >  .dynamic > .column:nth-child(n) > .box > .layout:nth-child(2) > .edit_student > .row:nth-child(1) > .row:nth-child(5){width: 100%;
height: 50px;}

.layout > .school > .layout:nth-child(3) > .main > .row:nth-child(2) > .column:nth-child(2) > .column:nth-child(1) > .content > .row:nth-child(2) >  .dynamic > .column:nth-child(n) > .box > .layout:nth-child(2) > .edit_student > .row:nth-child(1) > .row:nth-child(5) > .column:nth-child(1){width: 100%;
height: 50px;
   padding-left: 10px;  
border-width: 2px; border-style: solid;  
border-color: var(--dark_gray);




border-radius: 10px;}




.layout > .school > .layout:nth-child(3) > .main > .row:nth-child(2) > .column:nth-child(2) > .column:nth-child(1) > .content > .row:nth-child(2) >  .dynamic > .column:nth-child(n) > .box > .layout:nth-child(2) > .edit_student > .row:nth-child(1) > .row:nth-child(6){width: 100%;
height: 50px;
margin-top: 28px;     }



.layout > .school > .layout:nth-child(3) > .main > .row:nth-child(2) > .column:nth-child(2) > .column:nth-child(1) > .content > .row:nth-child(2) >  .dynamic > .column:nth-child(n) > .box > .layout:nth-child(2) > .edit_student > .row:nth-child(1) > .row:nth-child(7){width: 100%;
height: 50px;
 --horizontal_align: space-around;}

.layout > .school > .layout:nth-child(3) > .main > .row:nth-child(2) > .column:nth-child(2) > .column:nth-child(1) > .content > .row:nth-child(2) >  .dynamic > .column:nth-child(n) > .box > .layout:nth-child(2) > .edit_student > .row:nth-child(1) > .row:nth-child(7) > .column:nth-child(1){width: 100%;
height: 50px;
   padding-left: 10px;  
border-width: 2px; border-style: solid;  
border-color: var(--dark_gray);




border-radius: 10px;}




.layout > .school > .layout:nth-child(3) > .main > .row:nth-child(2) > .column:nth-child(2) > .column:nth-child(1) > .content > .row:nth-child(2) >  .dynamic > .column:nth-child(n) > .box > .layout:nth-child(2) > .edit_student > .row:nth-child(1) > .row:nth-child(8){width: 100%;
height: 50px;
margin-top: 28px;     }



.layout > .school > .layout:nth-child(3) > .main > .row:nth-child(2) > .column:nth-child(2) > .column:nth-child(1) > .content > .row:nth-child(2) >  .dynamic > .column:nth-child(n) > .box > .layout:nth-child(2) > .edit_student > .row:nth-child(1) > .row:nth-child(9){width: 100%;
height: 50px;
 --horizontal_align: space-around;}

.layout > .school > .layout:nth-child(3) > .main > .row:nth-child(2) > .column:nth-child(2) > .column:nth-child(1) > .content > .row:nth-child(2) >  .dynamic > .column:nth-child(n) > .box > .layout:nth-child(2) > .edit_student > .row:nth-child(1) > .row:nth-child(9) > .column:nth-child(1){width: 100%;
height: 50px;
   padding-left: 10px;  
border-width: 2px; border-style: solid;  
border-color: var(--dark_gray);




border-radius: 10px;}




.layout > .school > .layout:nth-child(3) > .main > .row:nth-child(2) > .column:nth-child(2) > .column:nth-child(1) > .content > .row:nth-child(2) >  .dynamic > .column:nth-child(n) > .box > .layout:nth-child(2) > .edit_student > .row:nth-child(1) > .row:nth-child(10){width: 100%;
height: 100px;
 --horizontal_align: center;
margin-top: 28px;     }

.layout > .school > .layout:nth-child(3) > .main > .row:nth-child(2) > .column:nth-child(2) > .column:nth-child(1) > .content > .row:nth-child(2) >  .dynamic > .column:nth-child(n) > .box > .layout:nth-child(2) > .edit_student > .row:nth-child(1) > .row:nth-child(10) > .column:nth-child(1){width: 100px;
height: 40px;
border-radius: 10px;
cursor: pointer;
background-color: var(--light);




 margin-right: 50px;    
--vertical_align: center; --horizontal_align: center;}

.layout > .school > .layout:nth-child(3) > .main > .row:nth-child(2) > .column:nth-child(2) > .column:nth-child(1) > .content > .row:nth-child(2) >  .dynamic > .column:nth-child(n) > .box > .layout:nth-child(2) > .edit_student > .row:nth-child(1) > .row:nth-child(10) > .column:nth-child(1) > .submit > .row:nth-child(1){width: 100%;
height: 100%;
font-size: 16px;
--vertical_align: center; --horizontal_align: center;}




.layout > .school > .layout:nth-child(3) > .main > .row:nth-child(2) > .column:nth-child(2) > .column:nth-child(1) > .content > .row:nth-child(2) >  .dynamic > .column:nth-child(n) > .box > .layout:nth-child(2) > .edit_student > .row:nth-child(1) > .row:nth-child(10) > .column:nth-child(2){width: 100px;
height: 40px;
border-radius: 10px;
cursor: pointer;
background-color: var(--light);




--vertical_align: center; --horizontal_align: center;}

.layout > .school > .layout:nth-child(3) > .main > .row:nth-child(2) > .column:nth-child(2) > .column:nth-child(1) > .content > .row:nth-child(2) >  .dynamic > .column:nth-child(n) > .box > .layout:nth-child(2) > .edit_student > .row:nth-child(1) > .row:nth-child(10) > .column:nth-child(2) > .cancel > .row:nth-child(1){width: 100%;
height: 100%;
font-size: 16px;
--vertical_align: center; --horizontal_align: center;}









.layout > .school > .layout:nth-child(3) > .main > .row:nth-child(2) > .column:nth-child(2) > .column:nth-child(1) > .content > .row:nth-child(3){width : 100%;
--vertical_align: top; --horizontal_align: right;
 padding-right: 50px;    
font-size: 40px;}

.layout > .school > .layout:nth-child(3) > .main > .row:nth-child(2) > .column:nth-child(2) > .column:nth-child(1) > .content > .row:nth-child(3) > .column:nth-child(1){border-radius: 50%;
padding-top: 10px; padding-right: 15px; padding-bottom: 10px; padding-left: 15px;  
cursor: pointer;
background-color: var(--violet);




color: var(--white);



}

.layout > .school > .layout:nth-child(3) > .main > .row:nth-child(2) > .column:nth-child(2) > .column:nth-child(1) > .content > .row:nth-child(3) > .column:nth-child(1) > .add_student > .column:nth-child(1){--vertical_align: center; --horizontal_align: center;}










:root{
--black: rgba(0, 0, 0);
 --white: rgba(255, 255, 255);
 --blue: rgba(227, 232, 238);
 --violet: rgba(38, 139, 228, 50%);
 --light: rgba(228, 241, 252);
 --blur: rgba(0, 0, 0, 70%);
 --bg_black: rgba(0, 0, 0, 35%);
 --shadow: rgba(0, 0, 0, 24%);
}
