<%- include('partials/sidebar', { page: 'clients' }) %>

<div id="client_overview">
    <nav>
        <h1></h1>
        <button>Add Project</button>
        <button id="client_info_btn">Info</button>
        <button>Delete</button>

    </nav>

    <div id="project_details"></div>
</div>