*{
    margin:0px;
    padding:0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#main{
    width:100vw;
    height:100vh;
    background: linear-gradient(#B993D6,#8CA6DB);
    display: flex;
    justify-content: center;
    align-items: center;
}

#content,.input{
    width:40%;
    max-height:80%;
    min-height:40%;
    border-radius: 2%;
    background-color: rgba(255, 255, 255, 0.847);
    padding:2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap:10%;
    margin:1% 0%;
}

#selectBox{
    display: block;
    margin: 5% 0vw;
    font-size: medium;
    padding:3%;
}

button{
    margin:2% 0%;
    padding:3%;
    cursor: pointer;
    font-size: medium;
    border-radius: 2%;
}

#result{
    font-size: 1.3rem;
    line-height: 150%;
}