<%-include('partials/sidebar')%>
<%- include('partials/chatbot')%>

        <div id="clients">
            <header>
                <div>
                    <h1>
                        Clients
                    </h1>
                    <p>Manage your clients and their access credentials</p>
                </div>
                <button id="add_new_client">Add New Client</button>
            </header>
            
            <div id="client_container"></div>
        </div>


        
        </div>

        
    </div>
    
    <div id="form_container">
        <form id="add_client_form">
            <label for="name">Client name</label>
            <input type="text" id="client_name_field" required>
            <label for="description">Description</label>
            <textarea name="description" id="client_desc_field" required cols="30" rows="10"></textarea>
            <label for="client_id">Client Id</label>
            <input type="text" id="client_id_field" required>
            <label for="client_secret">Client Secret</label>
            <input type="text" id="client_secret_field" required>
            <div>
                <button id="add_btn" type="submit">Add Client</button>
                <button class="cancel" type="button">Cancel</button>
            </div>

        </form>
    </div>
    <script src="../js/script.js"></script>
</body>

</html>