<%-include('partials/sidebar')%>
<%- include('partials/chatbot')%>

        <div id="clients">
            <header>
                <div id="client-header-info">
                    <h1></h1>
                    <p></p>
                </div>
                <div>
                    <button id="add_new_project">Add New project</button>
                    <button id="client_info_btn">Info</button>
                    <button id="delete_btn">Delete</button>
                </div>
            </header>
            <div id="project_container"></div>
        </div>
    </div>
    
    <div id="form_container">
        <form id="add_project_form">
            <label for="name">Project name</label>
            <input type="text" id="project_name" required>
            <label for="description">Description</label>
            <textarea name="description" id="project_desc" required cols="30" rows="10"></textarea>
            <label for="scopes">scopes</label>
            <input type="text" id="scopes" required>

            <p>Redirect uri should be : <b>http://localhost:2500/getcode</b></p>
            
            <div>
                <button id="add_btn" type="submit">Add Project</button>
                <button class="cancel" type="button">Cancel</button>
            </div>
        </form>
    </div>
    
</body>
<script>
    const currentClientId = "<%= clientId %>";
    console.log("Client ID:", currentClientId);
</script>
</html>