*{
    box-sizing: border-box;
    margin: 0px;
    padding:0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root{
    --primary-color:#FEFCF4;
    --secondary-color:  #fce68d;
}
body{
    background:linear-gradient(#223657,#182142);
    background-size: cover;
    background-repeat: no-repeat;
    min-height:100vh;
}

.rock1{
    background-image:url("./images/icon-rock.svg");
      border:10px solid #E7A613;
}

.paper1{
    background-image: url("./images/icon-paper.svg");
    border:10px solid #506EF3;
}

.scissor1{
    background-image: url("./images/icon-scissors.svg");
    border:10px solid #E03652;
}

.spock1{
    background-image: url("./images/icon-spock.svg");
    border:10px solid #8553E7;
}

.lizard1{
        background-image: url("./images/icon-lizard.svg");
    border:10px solid #47BACE;
}

.option{
    width:200px;
    height:200px;
    border-radius: 25%;
    background-size:70%;
    background-position: center;
    margin:70px;
    background-repeat: no-repeat;
    background-color:white;
}

#parent{
    display:flex;
    justify-content: center;
}

h1{
    font-size:3rem;
    margin:40px 0px ;
    color:white;
}


.result{
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color:white;
    font-size:24px;
}


.resulttext{
    gap:10%;
}


.resultbox{
    background-color:white;
    padding:10px 30px;
    color:Black;
    width:300px;
    height:50px;
}


#showRyesult{
    min-width: 150px;
    max-width:150px;
}


main{
    background:linear-gradient(#223657,#182142);
    min-height:100vh;
    color: white;
}

header{
    padding:40px;
    font-size: xx-large;
}

#menu{
    display: flex;
    justify-content: space-evenly;
}

.menuOption{
    width:500px;
    padding:100px;
    font-size:20px;
    text-align: center;
}

i{
    font-size: 200px;
    margin: 30px;
}

.room{
    width:300px;
    height:120px;
    background-color: white;
    color: #000;
    margin:30px;
    padding:30px;
}

.hide{
    display: none !important;
}