*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

main{
    background:linear-gradient(#223657,#182142);
    min-height:100vh;
    color:white;
    padding:30px;
}

.room{
    width:300px;
    height:300px;
    background-color: white;
    color: #000;
    margin:30px;
    padding:30px;
}

#menu{
    display: flex;
    justify-content: space-evenly;
}
