<footer >
    <div class="insideFooter">
        <p>Rotation Time</p>
        <h1><%= rotation %></h1>
    </div>
    <div class="insideFooter">
        <p>Revloution Time</p>
        <h1><%= revolution %></h1>
    </div>
    <div class="insideFooter">
        <p>Radius</p>
        <h1><%= radius %></h1>
    </div>
    <div class="insideFooter">
        <p>Average Temp</p>
        <h1><%= temp %></h1>
    </div>

</footer>