<header>
    <div class="fontAntonio" id="emoji">THE PLANETS</div>
    <ul class="fontSpartan">
        <li  id="Mercury"  ><a href="/?para1=Mercury&para2=overView">
                <h3>MERCURY</h3>
            </a>
        </li>
        <li  id="Venus"><a href="/?para1=Venus&para2=overView">
                <h3>VENUS</h3>
            </a>
        </li>
        <li id="Earth"> <a  href="/?para1=Earth&para2=overView">
                <h3>EARTH</h3>
            </a>
        </li>
        <li id="Mars"><a  href="/?para1=Mars&para2=overView">
                <h3>MARS</h3>
            </a>
        </li>
        <li id="Jupiter"> <a  href="/?para1=Jupiter&para2=overView">
                <h3>JUPITER</h3>
            </a>
        </li>
        <li id="Saturn" ><a href="/?para1=Saturn&para2=overView">
                <h3>SATURN</h3>
            </a>
        </li>
        <li id="Uranus"> <a  href="/?para1=Uranus&para2=overView">
                <h3>URANUS</h3>
            </a>
        </li>
        <li id="Neptune"> <a  href="/?para1=Neptune&para2=overView">
                <h3>NEPTUNE</h3>
            </a>
        </li>
    </ul>
</header>