*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

.grandparent{
    display: flex;
    width:100%;
    justify-content: space-around;
    align-items: center;
    padding:1%;
}

.grandparent div{
    text-align: center;
}

.parent,.quizparent{
    padding:2% 5%;
    background-color:rgb(148, 186, 255);
    width:700px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap:20px;
}

.quizparent{
    position: fixed;
    top:50%;
    left:30%;
    color: white;
    background-color:rgb(101, 155, 255);
    font-size: x-large;
}

.child{
    width:100%;
    padding:3%;
    font-size: larger;
    border-radius: 20px;
    color: white;
    background-color:rgb(101, 155, 255);
    border-left:5px solid rgb(0, 89, 255);
    animation: start 1s ease-in-out;
}

@keyframes start{
    0%{
        transform:scale(0);
    }
    100%{
        transform: scale(1);
    }

}

button{
    padding:20px 60px;
}