<%- include("partials/header") %>
<h1>Contact Us</h1>
<p>If you have any questions, feel free to reach out!</p>
<p>Email:username@gmail.com</p>
<p>Phone: +1234567890</p>
<%- include("partials/footer") %>