*{
    box-sizing: border-box;
    padding:ooter a0px;
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav{
    display:flex;
    justify-content: space-between;
    padding:1%;
    box-shadow:05px 0px 10px 3px black;
    position: sticky;
    top: 0px;
    right: 0px;
}

.pageTitle{
    color:#007bff;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}

#menu{
    width:25vw;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    font-size: 1.5rem;
}

#menu a,footer a{
    text-decoration: none;
    color:black;
}

#menu li a:hover,footer a:hover{
color:#007bff;
}

footer{
    padding:2% 30%;
    box-shadow:05px 0px 10px 3px black;
}

footer h4{
    font-size:1.4rem ;
}

footer div{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1%;
}

.footerInfo{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.footerInfo{
    font-size: 1.1rem;
    line-height: 2rem;
}

main{
    display: flex;
    justify-content: center;
    padding:1%;
    align-items: center;background:linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

#content{
    margin:21% 5%;
}