*{
    box-sizing: border-box;
    padding:0px;
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    position: sticky;
    top: 0px;
    left: 0px;
    background-color: white;
}

nav{
    display:flex;
    justify-content: space-between;
    padding:1%;
    box-shadow:05px 0px 10px 3px black;
    position: sticky;
    top: 0px;
    right: 0px;
}



input,textarea,select{
    border: 1px solid #808B96;
    padding:8px 15px;
    border-radius: 30px;
    font-size: medium;
}

input:focus,textarea:focus,select:focus{
    outline: none;
     border:1px solid #007bff;
    box-shadow: 0px 3px 6px #007bff63;
}

select{
    background-color: white;
}

.pageTitle{
    color:#007bff;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}

#menu{
    width:25vw;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    font-size: 1.5rem;
}

#menu a,footer a{
    text-decoration: none;
    color:black;
}

#menu li a:hover,footer a:hover{
color:#007bff;
}

footer{
    padding:2% 30%;
    box-shadow:05px 0px 10px 3px black;
}

footer h4{
    font-size:1.4rem ;
}

footer div{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1%;
}

.footerInfo{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.footerInfo{
    font-size: 1.1rem;
    line-height: 2rem;
}

main,#contactMain{
    display: flex;
    align-items: center;
    background:linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    flex-direction: column;
    padding:1% 0% 2% 0%;

}

#content{
max-width:90vw;
padding:4% 0px 2% 0%;
}

#userInput{
    width:400px;
    background-color: white;
    border-radius: 10px;
    font-size: x-large;
    padding:10% ;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:30px;
    justify-content: space-around;
    box-shadow: 0 20px 20px rgba(0,0,0,0.1);
    animation:fade-in 1s ease-in-out 0s;
}

table,th,tr,td{
    border:transparent;
    /* border-collapse: collapse; */
    padding:30px 10px;
    font-size: large;
}

table{
    animation:fade-up 1s ease-in-out 0s;
}

th{
    animation:fade-in 1s ease-in-out 0s;
}


#warning{
    padding:0% 0% 2% 0%;
    font-size: x-large;
    color: Red;
}

.aboutDiv{
    margin:1% auto;
    line-height: 30px;
    font-size:large ;
    padding:4% 20% ;    
    text-align: center;
}

.aboutDiv h1{
    margin-bottom: 5%;
    line-height: 35px;
}

.dim{
    background-color: #f8f9fa;
}

#aboutValues{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#aboutValues div{
width:30%;
line-height: 30px;
padding:5% 0%;
background-color: white;
box-shadow: 0 10px 10px rgba(0,0,0,0.05);

}

#aboutValues div:hover{
    transition: transform 1s ease-out;
    transform:translateY(-20px)
}

.aboutImage{
    font-size: xx-large;
    margin: 5%;
}


.contactIntro{
    width: 600px;
    text-align: center;
    line-height: 25px;
    font-size: large;
}

.contactIntro h1{
    margin:4% 0%;
}

#contactForm{
    background-color: white;
    display: flex;
    padding:2% 3%;
    flex-direction: column;
    gap:40px;
    justify-content: space-evenly;
    margin:2% 0%;
}

label{
    font-size: x-large;
}

#contactForm input{
    width:400px;
    padding:10px;
}

#contactForm div{
    margin:1% auto;
}

#submitBtn,#getNutrition{
    padding:10px 50px;
background-color:#007bff;    
color: white;
cursor: pointer;
}

#message{
    padding:10px;
    font-size: large;
    overflow: auto;
}

.hide{
    /* visibility: hidden; */
    display: none ;
}

.hidden{
    visibility: hidden;
}

@keyframes fade-in{
    0%{
        opacity: 0;
        transform:translateY(50px);
    }
    100%{
        opacity: 1;
        /* transform:translateY(-50px); */
    }
}

@keyframes fade-up{
    0%{
        opacity: 0;
        transform:translateY(-50px);
    }
    100%{
        opacity: 1;
        /* transform:translateY(-50px); */
    }
}

@keyframes fade-right{
    0%{
        opacity: 0;
        transform:translateX(100px);
    }
    100%{
        opacity: 1;
        /* transform:translateY(-50px); */
    }
}

@keyframes fade-left{
    0%{
        opacity: 0;
        transform:translateX(-100px);
    }
    100%{
        opacity: 1;
        /* transform:translateY(-50px); */
    }
}

.tableWrap{
    min-height:380px;
    max-height:380px;
    overflow:auto;
    scroll-behavior: smooth;
}

.favourite{
    min-height: 480px;
    max-height:480px;
    overflow:auto;
    scroll-behavior: smooth;
}

.flex{
    display: flex;
    width: 100%;
    gap:10%;
    justify-content: center;
    align-items: center;
}

#favouriteIcon{
    cursor: pointer;
    color:rgb(252, 129, 207);
}

#result{
    border-radius: 30px;
}



#head{
    background-color: #3a97fa;
    color: white;
    position: sticky;
    top: 0;
}

.row1{
    background-color: #c3cfe2;
    animation:fade-right 1s ease-in-out 0s;
}

.row2{
    background-color: #f5f7fa;
    animation:fade-left 1s ease-in-out 0s;
}

#loadingMain{
    display: flex;
    gap:3px;
    border-radius: 50%;
    justify-content: center;
    padding:0px 45%;
}

.loading{
    width:30px;
    height: 30px;
    border-radius: 50px;
    margin:1%;
    border:3px solid white;
    animation: loading 1s ease-in infinite ;
}

@keyframes loading{
    0%{
        /* transform: rotate(0deg); */
    border: 3px solid white;
    }
    25%{
border-top: 3px solid #007bff;
    }
    50%{
border-right: 3px solid #007bff;
    }
    75%{
border-bottom: 3px solid #007bff;
    }
    100%{
        /* transform:rotate(360deg); */
    border-left: 3px solid #007bff;
    }
}

#logout{
    position: relative;
    cursor: pointer;
}

#logoutMessage{
    position:absolute;
    font-size: 16px;
    left: -30px;
    top:20px;
    color: white;
    background-color: #007bff;
    padding:5px;
}

#logout:hover #logoutMessage{
    display: block  !important;
}

