<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AccessAce</title>
    
    <link rel="stylesheet" href="/css/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="/js/project.js" defer></script>
    <script src="/js/script.js" defer></script>
    <script src="/js/info.js" defer></script>
    <script src="/chart.min.js"></script>
    <script src="/js/dashboard.js" defer></script>
</head>

<body>
    <div class="container">
        <aside class="side_bar">
            <div>
                <img src="/images/logo.png" alt="img" id="logo">
            </div>
            <div class="side_bar_items">
                <a href="/" class="side_bar_item">Clients</a>
                <a href="/dashboard" class="side_bar_item">Dashboard</a>
                <a href="/trash" class="side_bar_item">Trash</a>
                <a href="/log" class="side_bar_item">Log</a>
                <a href="/tester" class="side_bar_item">API Playground</a>
            </div>
        </aside>