<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=title%>
    </title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <%-include('partials/header')%>

        <div class="aboutDiv dim">
            <h1>Our Mission is to Empower Healthier Choices</h1>
            <p>We believe that understanding your nutrition shouldn't be complicated. NutriCalc was created to provide a
                simple, fast, and reliable tool for anyone looking to improve their diet. We want to demystify food
                labels and help you build a healthier relationship with what you eat.</p>
        </div>
        <div class="aboutDiv">
            <h1>Our Food Database</h1>
            <p>Our power comes from our comprehensive and continuously updated food database. We aggregate data from top
                nutritional science sources to provide you with accurate information on everything from an apple to a
                complex recipe. </p>
        </div>
        <div class="aboutDiv dim">
            <h1>Our Values</h1>
            <div id="aboutValues">
                <div>
                    <p class="aboutImage">🌱</p>
                    <h3>Clarity</h3>
                    <p> We are committed to presenting nutritional data in a way that is easy to understand and act
                        upon.</p>
                </div>
                <div>
                    <p class="aboutImage">🔒</p>
                    <h3> Privacy</h3>
                    <p> Your health journey is personal. We respect your privacy and do not track your personal food
                        searches.</p>
                </div>
                <div>
                    <p class="aboutImage">💚</p>
                    <h3> Passion</h3>
                    <p> We are passionate about health and wellness and are driven to create the best possible tool for
                        our
                        users.</p>
                </div>
            </div>
        </div>
        <%-include('partials/footer')%>
</body>

</html>