<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js" defer></script>
</head>
<body>
    <%-include('partials/header')%>
    <main>
        <div id="content">
            <form id="api">
                <div>CALCULATE THE NUTRITION</div>
                <input id="food">
                <div>
                    <input type="submit" id="getNuthition">
                </div>
            </form>
        </div>
        <div id="warning"></div>
        <table id="result">
            <thead>
                <th>Name</th>
                <th>Calories</th>
                <th>Serving size  (g)</th>
                <th>Fat Total  (g)</th>
                <th>Saturated fat (g)</th>
                <th>Protein  (g)</th>
                <th>Sodium  (mg)</th>
                <th>Potassium  (mg)</th>
                <th>Cholesterol  (mg)</th>
                <th>Carbohydrates  (g)</th>
                <th>Fiber  (g)</th>
                <th>Sugar  (g)</th>
            </thead>
            <tbody id="tableBody">

            </tbody>
        </table>

    </main>
    <%-include('partials/footer')%>
</body>


</html>
