<footer>
    <div class="flex">
    <div class="footerInfo">
        <h4>LIGHT WEIGHT BABY</h4>
        <p>Find the Nutritions in your food </p>
    </div>
    <div class="footerInfo">
        <h4>Quick links</h4>
        <a>About API</a>
        <a>API DOCUMENTATION</a>
        <a>Contact us</a>
    </div>
</div>
<hr>
<center>© 2024 Verifon. All Rights Reserved</center>
</footer>