<header>
    <nav>
        <p class="pageTitle">LIGHT WEIGHT BABY</p>
        <div>
            <ul id="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
    </div>
    </nav>
</header>