<header>
    <nav>
        <p class="pageTitle">LIGHT WEIGHT BABY</p>
        <div>
            <ul id="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/favourite">favourite</a></li>
        <li id="logout"><i class="fa-solid fa-arrow-right-from-bracket"></i><span id='logoutMessage' class="hide">Logout</span></li>
    </ul>
    </div>
    </nav>
</header>